body {
    
    height:100vh;
    width:100vw;
    background-color:green;
    margin:0;
    padding:0;
    
    main {
        height:100vh;
        width:100vw;
        display:grid;
        grid-template-rows: 1fr 1fr 1fr;
    
        section {
             display:grid;
             grid-template-columns : 1fr 1fr 1fr;
             border-top: 1px dotted #ffffff;
             border-bottom: 1px dotted #ffffff;
                
                 }
        section:first-of-type 
        {
             display:grid;
             grid-template-columns : 1fr 2fr 1fr 1fr;
             
             section:first-of-type 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 1fr;
                    }
            section:nth-of-type(2) 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 2fr;
                     background-color:blue;
                    }
            section:nth-of-type(3) 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 1fr;
                    }
            section:last-of-type 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 1fr;
                    }
        }                           
        section:nth-of-type(2) 
        {
             display:grid;
             grid-template-columns : 1fr 1fr;
             
            section:first-of-type 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 1fr;
                     background-color:red;
                    }
            section:nth-of-type(2) 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 2fr;
                     
                    }
            section:nth-of-type(3) 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 1fr;
                    }
            section:last-of-type 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 1fr;
                    }
        }
        section:last-of-type 
        {
             display:grid;
             grid-template-columns : 1fr 1fr 1fr;
             
             section:first-of-type 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 1fr;
                    }
            section:nth-of-type(2) 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 1fr;
                    }
            section:last-of-type 
                    {
                     border-left:1px dotted #ffffff;
                     border-right:1px dotted #ffffff;
                     grid-column: 1fr;
                     background-color:yellow;
                    }  
        }
    }}
    
/*

main {
 
 & > section {
 
  & > section {
   
  }
  
 }
 
}





*/